@model IEnumerable<Domain.Bureau>



<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Inventaires
            </div>
            <div class="panel-body table-responsive">
              Bonjour
                <br /><p>
                    @Html.ActionLink("Ajouter un nouveau Bureau", "Create")
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>